.userselectioninfo{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    background-color: #5746EA;
    width: 460px;
    height: 228px;
    border-radius: 20px;
    margin-left: 70px;
    margin-top: 55px;
}
.notesinfo{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 4;
    margin-left: 70px;
    margin-top: 55px;
}
.newsinfo{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 6;
    margin-left: 70px;
    margin-top: 55px;
    margin-right: 85px;
    border-radius: 20px;
}
.weatherinfo{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
    margin-left: 70px;
    border-radius: 20px;
}
.timerinfo{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 6; 
    background-color: #1E2343;
    margin-left: 70px;
    border-radius: 20px;
    margin-top: 20px;
}
.usercontentinfo > p{
    color:white;
    font-family: Roboto;
}

.newsinfo > p {
    font-family: Roboto;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 14px;
}

.timeheadinginfo > p{
    color:#949494;
    font-family: Roboto;
    font-size: 20px;
}

.remainingtimerinfo > p{
    color:white;
    font-size: 40px;
}

.weathertimeinfo > p {
    color:white;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
}